.temp_ul{
	padding-top: 0.85rem;
	display: flex;
	>li{
		line-height: 0.7rem;
		flex:1;
		text-align: center;
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
		color: #2c83b8;
		&:first-child{
			border-left: 0;
		}
	}
}