<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设备</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/temp.css">
	<script src="../js/rem.js"></script>
	<script src="../lib/jquery.min.js"></script>
	<script src="../js/temp.js"></script>
</head>
<body>
	<header class="header">
		<h4 class="text-center">设备信息</h4>
	</header>
	<section class="temp">
		<ul class="temp_list">
			<li class="li_active">主调北机房</li>
			<li>主调南机房</li>
			<li>备调机房</li>
		</ul>
		<h2 class="text-center">主机北机房UPS设备信息</h2>
		<ul class="temp_message">
			<li>品牌</li>
			<li>海尔</li>
			<li>型号</li>
			<li>13ttttttttasdsdsd13t</li>
			<li>类别</li>
			<li>挂壁式</li>
			<li>品牌</li>
			<li>海尔</li>
			<li>型号</li>
			<li>13ttttttttasdsdsd</li>
			<li>电压/频率(V/HZ)</li>
			<li>挂壁式</li>
		</ul>
		<h2 class="text-center">实时数据</h2>
		<table class="temp_table"  cellspacing="0">
		  <thead>
		    <tr>
		      <th>参数</th>
		      <th>值</th>
					<th>参数</th>
					<th>值</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Tanmay</td>
		      <td>22a</td>
					<td>Tanmay</td>
		      <td>22a</td>
		    </tr>
		    <tr>
					<td>Tanmay</td>
		      <td>22a</td>
					<td>Tanmay</td>
		      <td>22a</td>
		    </tr>
		  </tbody>
		</table>
	</section>
</body>
</html>
