<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设备</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/temp.css">
	<script src="../js/rem.js"></script>
	<script src="../lib/jquery.min.js"></script>
	<script src="../"></script>
</head>
<body>
	<header class="header">
		<h4 class="text-center">设备信息</h4>
	</header>
	<section class="temp">
		<ul class="temp_ul">
			<li>主调北机房</li>
			<li>主调南机房</li>
			<li>备调机房</li>
		</ul>
	</section>
	<footer>
		
	</footer>
</body>
</html>